.sideNav{
    height:100%;
    width: 200px;
    position: fixed;
    padding: 10px;
    top:0;
    right: 0;
    z-index: 1;
    background-color: #45E28E; 
  overflow-x: hidden; 
  padding-top: 20px;
}